<div class="currency-converter">
    <h1>Currency Converter</h1>
    <form>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" [(ngModel)]="amount" placeholder="Enter amount" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="form-group">
            <label for="fromCurrency">From</label>
            <select id="fromCurrency" [(ngModel)]="fromCurrency" [ngModelOptions]="{standalone: true}" >
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>

            </select>
        </div>
        <div class="form-group">
            <label for="toCurrency">To</label>
            <select id="toCurrency" [(ngModel)]="toCurrency" [ngModelOptions]="{standalone: true}">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>

            </select>
        </div>
        <button (click)="convertCurrency()" type="button">Convert</button>
    </form>
    <div class="result" *ngIf="convertedAmount">
        <h2>Converted Amount: {{ convertedAmount }} </h2>
    </div>
</div>
